body {
  background-color: #eee;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid blue;
  width: 400px;
  height: 200px;
  padding: 1em;
}
.item {
  border: 2px solid gray;
  padding: 20px;
  background-color: #ed94b8;
}

.flex-container.ac-flex-start {
  align-content: flex-start;
}

.flex-container.ac-center {
  align-content: center;
}
.flex-container.ac-flex-end {
  align-content: flex-end;
}
.flex-container.ac-space-between {
  align-content: space-between;
}
.flex-container.ac-space-around {
  align-content: space-around;
}



