* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

article {
    border: 1px dashed gray;
    margin: 1 auto;
}

article > p {
    margin-bottom: 1em;
    background-color: red;
}