* {
    margin: 0;
    padding: 0;
}
h2 {
    margin-left: 0.3em;
}

h2:first-child {
    margin-top: 0.3em;
}

div {
    margin-left: 0.5em;
    margin-top: 0.5em;
    border: 2px solid black;
    margin-bottom: 1em;
    padding: 1em;
}

p {
    box-sizing: border-box;
    margin-left: 0.5em;
    padding-left: 0.3em;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.relative {
    position: relative;
}
.green-box {
    background-color: lightgreen;
}