div p {
    color: rgb(39, 39, 168);
}
p {
    color: rgb(39, 39, 168);
}
p > span{
    color: red;
}

ul > li {
    list-style-type: square;
}

.sibling{
    color: red;
    font-size: 20px;
    font-weight: bold;
}