@media (max-width: 600px) {
    nav ul {
        display: none;
    }
    section.site-header > i,
    h1 {
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5em;
    }
    .site-header > i {
        left: 45%;
    }
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-header {
        bottom: 0;
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .gallery-item {
        display: block;
        max-width: 100%;
        height: auto;
        /* max-width: 210px; */
    }
}
