body {
    padding: 0;
    background-color: #fff;

}
/* Navigation bar */
.site-header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 1em 0 rgb(0,0,0, 0.2);
    padding: 1em 5em;
}
.site-header ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-top: 0.5em;
    gap: 1.5em;
}

.site-header a {
    color: #54546d;
    text-decoration: none;
}

.site-header li.login-btn {
    background-color: #be79ef;
    border-radius: 1em;
    padding: 0.3em 1em;
}
.site-header li.login-btn a {
    color: #fff;
}
.diplomas {
    display: flex;
    margin: 1em 5em;
}